
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
    
  
  body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  .contenitore {
  max-width: 1500px;
  }
  
  
  
  /* navbar */


  .info-contenitore {
    position: relative;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    color: white;
  }
  
  .info-contenitore::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  
  .info-contenitore.img1{
    background-image: url(/img/image1.jpg);
  }
  
  .info-contenitore.img2{
    background-image: url(/img/image8.png);
  }

  .info-contenitore.img3{
    background-image: url(/img/image3.webp);
  }
  
  .info-contenitore.img4{
    background-image: url(/img/image4.jpg);
  }
  
  .info-contenitore.img5{
    background-image: url(/img/image5.webp);
  }
  
  .info-contenitore.img6{
    background-image: url(/img/image34.png);
  }
  
  .info-contenitore.img7{
    background-image: url(/img/image38.png);
  }
  
  .info-contenitore.img8{
    background-image: url(/img/image15.jpeg.webp);
  }
  

  
  .testo-bar {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 40px;
  }
  
  

  
  .nav-bar {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    position: relative;
  }
  


  .nav-bar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
  }
  

  .nav-bar p {
    width: 100%;
    margin: 0;
    margin-left: 5%; 
    font-size: 16px;
  }
  
  .nav-bar a:first-of-type {
    margin-left: auto; 
  }
  

  .nav-bar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    margin: 0;
    margin-right: 5%; 
  }
  

  .nav-bar a:hover{
    text-decoration: underline ;
    color: #917edb;
    cursor: pointer;
    transition:  0.2s ease-in;
  
  }
  
  
  .content {
    max-width: 700px;
    padding: 20px 70px;
    margin-bottom: 150px;
  }
  
 
  .content1 {
    max-width: 700px;
    padding: 20px 70px;
    margin-bottom: 120px;
  }
  
.content1 h1{
  font-size: 30px;
  margin-bottom: 20px;
}

.content1 p{
  font-style: italic;
}

  .content h1{
    color: rgb(255, 255, 255);
    font-size: 26px;
  }
 

  .image {
    display: none;
  }
  
  
  
  
  
  /* paragrafo */
  
  .contenitore .testo{
    width: 100%;
    max-width: 800px;
    margin-top: 150px;
    margin-bottom: 50px;
    line-height: 1.3;
    padding: 20px 110px;
  }

  
  .contenitore .titolo{
    width: 100%;
    max-width: 700px;
    margin-top: 230px;
    margin-bottom: 30px;
    padding: 20px 110px;
  }
  


 /* contenitore-blocco */
   
  .contenitore-blocco{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  

.contenitore-blocco img{
  margin-bottom: 150px;
  
}





  .testo p{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .testo li{
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  
  .titolo{
   margin-bottom: 20px;
   max-width: 700px;
   padding: 20px 80px; 
   margin-top: 200px;
   color: #ffffff;
  }
  
  .titolo h1 a{
    color: #ffffff;
    font-size: 24px;
   }
  
  
   .titolo a:hover{
    color: #917edb; 
    transition: color 0.2s ease;
  } 
  
  
  
  
  .immagini-materiali{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px;
    justify-items: center;
  }


  .card2 img {
    max-width:600px;
    height: auto;
    height: 300px;
  }
  
  /* card */
  
  .blocco-immagine{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 32px auto;
    gap: 16px;
    padding: 20px 40px ;
  }
  
  .card {
    background-color: #200043;
    text-align: center;
    padding: 0;
    border-radius: 12px;
    transition: transform 0.3s ease;
    margin-bottom: 180px;
  }
  
  .card a {
    text-decoration: underline;  
    color: inherit;
    display: block;
    color: #ffffff;
    margin-bottom: 60px;

  }
  
  
  .card img {
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    padding-bottom: 50px;
  }

  

  .card p:hover{
    color: #917edb; 
    transition: color 0.2s ease;

  }
  
  .card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    
  }
  
  
  
  
  
  /* immaginegrande */
  
  .immagine-box {
    width: 100%;         
    overflow: hidden;
    margin-top: 40px;
  }
  
  .immagine-box img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;      
    max-height: 550px;
    filter: brightness(60%)     
  }
  
  .immagine-box:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  


  
  
  /* box */
   
  .box {
    width: 100%;         
    overflow: hidden;
    margin-top: 40px;
  }
  
  .box img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;      
    max-height: 550px;
    filter: brightness(60%)     
  }
  

  .box:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }



  /* coppia */
  
  .coppia-immagini{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px;
    justify-items: center;
  }
  

  .coppia-immagini img{
    max-width: 500px;
  }
  
  /* sticky */
  
  .sticky {
    display: flex;
    max-width: 1500px;
    align-items: flex-start;
    margin-bottom: 200px;
    padding: 20px 30px;
    gap: 180px;
    margin-top: 180px;
  }
  
  .titolo-sticky {
    padding: 10px 85px;
    flex: 1;
    position: sticky;
    top: 50px;
    width: 100%;
    /* height: fit-content; */
  }
  
  .titolo-sticky h2 {
    font-size: 24px;
    color: #ffffff;
  }
  
  .contenuti-scrollabili {
    flex: 2;
    width: 100%;
  }
  
  
  .contenuti-scrollabili h2,p,li,h4{
    width: 100%;
    max-width: 600px;
    color: #ffffff;
  }
  
  .contenuti-scrollabili img {
    width: 100%;
    max-width: 600px;
    height: 300px;
    margin-top: 100px;
    object-fit: cover;
    display: block;
  }
  
  .contenuti-scrollabili p{
    margin-bottom: 20px;
    line-height: 1.6;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;

  }
  
  
  .contenuti-scrollabili h2,h4{
    margin-bottom: 30px;
    margin-top: 30px;
    color: #444;
    font-size: 22px;
    font-weight: 900;
    color: #ffffff;
  }
  
  .contenuti-scrollabili li{
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 18px;
  }
  
  
  
  
.contenuti-scrollabili, a{
  color: #917edb;
}
  
  
  
  /* footer */
  footer {
    background-color: #2b005f; 
    color: white;
    padding: 40px 70px;
    font-family: sans-serif;
  }
  
  footer h4 {
    margin-bottom: 30px;
  }
  

  .footer-section-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 180px;
  }

  
  .footer-section {
    flex: 1;
    min-width: 250px;
  }
  
  .footer-section p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
    font-size: 14px;
  }


  .footer-section-container {
    font-family: sans-serif;
  }
  
  .footer-section {
    margin-bottom: 1em;
  }
  
  .footer-section details {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5em;
  }
  
  .footer-section summary {
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding-right: 1.5em;
    list-style: none;
  }
  
  .footer-section summary::-webkit-details-marker {
    display: none;
  }
  
  .footer-section .arrow {
    float: right;
    transition: transform 0.3s ease;
  }
  
  .footer-section details[open] .arrow {
    transform: rotate(90deg);
  }
  
  .footer-section ul {
    padding: 0;
    margin-top: 20px;
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 0.5em;
  }











/* responsive */


@media (max-width: 768px) {


  .info-contenitore {
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    color: white;
  }
  
  .info-contenitore::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    position: relative;
  }


  .testo-bar {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 25px;
    max-width: 700px;
  }
  
  
.nav-bar p {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 14px;
  margin: 0;
  padding-left: 30px;
}

.nav-bar a:first-of-type {
  margin-left: auto; 
}

.nav-bar a {
  color: rgb(213, 213, 213);
  text-decoration: none;
  font-size: 15px;
  margin: 0;
  padding-right: 20px;
}

.nav-bar a:hover{
  color: #917edb;
  transition: color 0.2s ease;
  cursor: pointer;
}



  
.content {
  margin: 0 auto;
  max-width: 450px;
  padding: 20px 30px;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
}

  
.content1 {
  margin: 0 auto;
  max-width: 450px;
  padding: 20px 30px;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
}


.content p {
  margin-bottom: 60px;
  font-size: 14px;
  font-style: italic;
}
  





.contenitore .testo{
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  margin-top: 90px;
  margin-bottom: 100px;
  line-height: 1.3;
  padding: 20px 30px;
}



.contenitore .titolo{
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  margin-top: 90px;
  margin-bottom: 40px;
}



.testo h3{
  font-size: 22px;
}


.testo p{
  margin-bottom: 35px;
  font-size: 17px;
  line-height: 1.5;
}

.testo li{
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 1.5;
}


 .titolo h1 a{
  margin-top: 60px;
  font-size: 22px;
 }




.titolo{
 margin-bottom: 10px;
 max-width: 400px;
 margin-top: 100px;
}



 .titolo a:hover{
  color: #917edb; 
  transition: color 0.2s ease;
} 






  .sticky {
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 100px;
    max-width: 450px;
    gap: 0;
  }


  .titolo-sticky{
    max-width: 440px;
    padding: 10px 2px;
    margin-bottom: 5px;
  }

  .contenuti-scrollabili li,p,h2,h3{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }

  .contenuti-scrollabili img{
    flex-direction: column;
    background-size: cover;
    height: 300px;
    object-fit: cover;
    background-size: cover;
    margin-bottom: 100px;

  }

  .titolo-sticky {
    max-width: 400px;
    position: static;
    margin-left: 0;
  }
  
  .sticky h1{
    margin-bottom: 10px;
    flex-direction: column;
    font-size: 22px;
    font-weight: 800;

  }

  .contenuti-scrollabili p{
    flex-direction: column;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;      
  }

  .contenuti-scrollabili h2{
    flex-direction: column;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 10px; 
    font-weight: 700;

  }
  .contenuti-scrollabili h3{
    flex-direction: column;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 10px; 
    font-weight: 700;

  }

  .contenuti-scrollabili li{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px; 
    padding-left: 10px;
  }

  
/* coppia */
  .coppia-immagini{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px;
    justify-items: center;
  }
  

  .coppia-immagini img{
    max-width: 200px;
  }
 
  
/* immagini */

  .immagini-materiali{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 32px auto;
    gap: 16px;
    padding:  20px 90px ;
    margin-bottom: 100px;
  }


  .card2 img {
    max-width: 550px;
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    background-size: cover;
    padding-bottom: 25px;
  }


/* card */

.blocco-immagine{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 32px auto;
  gap: 16px;
  padding:  20px 90px ;
  margin-bottom: 100px;
}

.card {
  text-align: center;
  font-family: sans-serif;
  border-radius: 10px;
  margin-bottom: 30px; 
  padding-bottom: 50px;
}



.card img {
  max-width: 550px;
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  background-size: cover;
  padding-bottom: 25px;

}

.card p a{
  margin-top: 10px;
  font-size: 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding-top: 20px;  
}

.card p a:hover{
  color: #917edb; 
  transition: color 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  
}

  /* footer */
  footer {
    background-color: #2b005f; 
    color: white;
    padding: 10px 90px;
    font-family: sans-serif;
  }
  
  footer h4 {
    margin-bottom: 30px;
    margin-top: 40px;
  }
  

  .footer-section-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }


}




@media (max-width: 480px) {
 

  .info-contenitore {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    color: white;
  }
  
  .info-contenitore::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 10px;
    position: relative;
  }


  .testo-bar {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
  }
  
  
.nav-bar p {
  color: rgb(213, 213, 213);
  text-decoration: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
  padding-left: 5%;
}

.nav-bar a:first-of-type {
  margin-left: auto; 
}

.nav-bar a {
  color: rgb(213, 213, 213);
  text-decoration: none;
  font-size: 13px;
  margin: 0;
  padding: 0;
  padding-right: 5%;
  flex-wrap: wrap;
}


  
.content {
  width: 300px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 50px;
  color: rgb(213, 213, 213);
}


.content p {
  margin-bottom: 60px;
  font-size: 14px;
  font-style: italic;
}
  


.contenitore .testo{
  margin: 0 auto;
  width: 300px;
  margin-top: 90px;
  margin-bottom: 100px;
  line-height: 1.3;
  padding: 0;
}


.contenitore .titolo{
  margin: 0;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 75px;
}



.testo h3{
  font-size: 18px;
}


.testo p{
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 1.5;
}

.testo li{
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1.5;
}


 .titolo h1 a{
  margin-top: 60px;
  font-size: 18px;
 }




 .titolo a:hover{
  color: #917edb; 
  transition: color 0.2s ease;
} 






  .sticky {
    margin: 0 auto;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    gap: 0;
    padding: 0;
  }


  .titolo-sticky{
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0;

  }

  .contenuti-scrollabili li,p,h2,h3{
    margin: 0 auto;
    padding: 0;

  }

  .contenuti-scrollabili img{
    margin: 0 auto;
    flex-direction: column;
    background-size: cover;
    height: 250px;
    object-fit: cover;
    background-size: cover;
    margin-bottom: 120px;
    margin-top: 50px;
    padding: 0;

  }

  .titolo-sticky {
    margin: 0 auto;
    position: static;
    margin-left: 0;
    padding: 0;

  }
  
  .sticky h1{
    margin: 0 auto;
    margin-bottom: 20px;
    flex-direction: column;
    font-size: 18px;
    font-weight: 800;
    padding: 0;

  }

  .contenuti-scrollabili p{
    margin: 0 auto;
    flex-direction: column;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 20px;  
    padding: 0;
    
  }

  .contenuti-scrollabili h2{
    margin: 0 auto;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px; 
    font-weight: 700;
    padding: 0;
  }

  .contenuti-scrollabili h3{
    margin: 0 auto;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px; 
    font-weight: 700;
    padding: 0;
  }


  .contenuti-scrollabili li{
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;  
    padding: 0;
   
  }

  




/* card */

.blocco-immagine {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  margin: 0 auto 100px;
  padding: 0;
}

.card {
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  border-radius: 10px;
  margin-bottom: 30px; 
  padding-bottom: 50px;
}



.card img {
  margin: 0 auto;
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  background-size: cover;
  padding-bottom: 20px;

}

.card p a{
  margin: 0 auto;
  margin-top: 10px;
  font-size: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding-top: 20px;  
}

.card p a:hover{
  color: #917edb; 
  transition: color 0.2s ease;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  
}


  /* footer */
  footer {
    background-color: #2b005f; 
    color: white;
    padding: 10px 70px;
    font-family: sans-serif;
  }
  
  footer h4 {
    margin-bottom: 30px;
  }
  

  .footer-section-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }

  
}







